.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.button {
  height: 56px;
  width: 343px;
  background-color: rgb(46, 189, 89);
  color: rgb(255, 255, 255);
  padding: 18px 58px 14px;
  border-radius: 500px;
  font-weight: 600px;
  font-size: 20px;
  font-family: 'Circular Std';
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}